.breadcrumb {
    background: #eaeaea;
    background: linear-gradient(to bottom right, #eff0f3, #fff);
    box-shadow: 3px 3px 3px #e8e6e6, -3px -3px 3px #fff;
    font-size: 12px;
    margin-bottom: 0;
    padding: .75rem 1rem;
}

.about-us-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFCF6 100%);
}

.about-us-read-more{
    background: linear-gradient(90deg, #CDA958 0%, #A28039 100%);
    padding: 5px 25px;
    border-radius: 30px;
}

.about-us-container p{
    margin-bottom: 2rem !important;
}

@media (max-width: 768px) {
    .about-us-container img{
        display: none !important;
    }

    .about-us-container{
        padding: 1rem;
    }
}