/* ============================
   BASE STRUCTURE
============================ */
.s2-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

/* ---------- LEFT SIDE ---------- */
.s2-left {
  width: 629px;
  min-height: 629px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2-rotated-wrapper {
  width: 100%;
  height: 100%;
  rotate: 45deg;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 90px;
}

.s2-square {
  width: 209px;
  height: 209px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s2-blue {
  background-color: rgba(14, 76, 144, 1);
}

.s2-light {
  background-color: rgba(184, 214, 247, 1);
}

.s2-square-content {
  rotate: -45deg;
  text-align: center;
}

.s2-icon {
  height: 46px;
  width: 46px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.s2-label {
  font-weight: 400;
  font-size: 16px;
}

.s2-value {
  font-weight: 600;
  font-size: 22px;
}

/* ---------- RIGHT SIDE ---------- */
.s2-right {
  width: 710px;
  min-height: 537px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.s2-brochure-bg {
  width: 447px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/dolera/s2/dol-s2-i3-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.s2-btn {
  width: 218px;
  height: 52px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: rgba(14, 76, 144, 1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.s2-btn:hover {
  background-color: rgba(271, 73, 52, 0.9);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(14, 76, 144, 0.3);
}

.s2-image-container {
  width: 100%;
  height: 537px;
}

.s2-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============================
     RESPONSIVE BEHAVIOUR
  ============================ */

/* --- Below 1024px --- */
@media (max-width: 1024px) {
  .s2-section {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
  }

  .s2-left {
    width: 500px;
    min-height: 500px;
  }

  .s2-rotated-wrapper {
    width: 90%;
    height: 90%;
    margin-left: 0;
  }

  .s2-square {
    width: 180px;
    height: 180px;
  }

  .s2-right {
    width: 600px;
    align-items: center;
    flex-direction: column-reverse;
  }

  .s2-brochure-bg {
    width: 80%;
  }

  .s2-image-container {
    width: 100%;
    height: auto;
  }

  .s2-image-container img {
    height: auto;
  }
}

/* --- Below 768px --- */
@media (max-width: 765px) {
  .s2-section {
    flex-direction: column;
    text-align: center;
    gap: 0px;
    padding-top: 0px;
  }

  .s2-left {
    width: 100%;
    margin-bottom: 60px;
  }

  .s2-rotated-wrapper {
    width: 80%;
    rotate: 0deg;
    display: flex;
    flex-direction: column;
    gap: 84px;
    margin-top: 50px;
  }

  .s2-square {
    width: 150px;
    height: 150px;
    rotate: 45deg;
  }

  .s2-square-content {
    rotate: -45deg;
  }

  .s2-right {
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
  }

  .s2-brochure-bg {
    width: 90%;
  }
  
.s2-image-container img {
    width: 100%;
    height: 537px !important;
    object-fit: cover;
  }
}
