.mpf-top-picks {
  /* height: 578px; */
  background-color: rgb(249, 249, 249);
}

.project-logo-container {
  width: 150px;
  height: 125px;
  border-radius: 50% !important;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mpf-top-pic-project-name {
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: capitalize;
}

.text-underline {
  text-decoration: underline !important;
}

.mpf-top-pic-address-container svg {
  font-size: 16px !important;
  height: 16px;
}

@media (max-width: 426px) {
  .top-pick-mobile-container {
    height: 300px !important;
    display: flex;
    margin: 0px auto;
    z-index: 2;
  }

  .top-pick-mobile-container img {
    height: 100%;
  }

  .overlay-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000004f;
    border-radius: 1rem;
    top: 0;
  }
}

.mpf-top-pic-image {
  height: 100%;
  object-fit: cover;
  max-height: 500px;
}