
.about-builder-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFCF6 100%);
}

.about-builder-read-more{
    background: linear-gradient(90deg, #CDA958 0%, #A28039 100%);
    padding: 5px 25px;
    border-radius: 30px;
}

.about-builder-container p{
    margin-bottom: 2rem !important;
}

@media (max-width: 768px) {
    .about-builder-container img{
        display: none !important;
    }

    .about-builder-container{
        padding: 1rem;
    }
}