.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 400px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.flip-card-front {
  background: black;
  transform-style: preserve-3d;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-3d {
  background: #0000009e;
  color: #fff;
  left: 0;
  outline: 1px solid #0000;
  perspective: inherit;
  position: absolute;
  top: 85%;
  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  width: 100%;
  z-index: 2;
}

.flip-card-back {
  background: var(--bg-with-gradient);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .flip-card-inner {
    height: 380px;
  }
}

@media (max-width: 768px) {
  .flip-card {
    margin-bottom: 20px;
  }
  
  .flip-card-inner {
    height: 350px;
  }
  
  .flip-card-back {
    padding: 18px;
  }
  
  .title-3d {
    font-size: 14px;
    padding: 10px;
    top: 80%;
  }
}

@media (max-width: 576px) {
  .web-stories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .flip-card-inner {
    height: 300px;
  }
  
  .flip-card-back {
    padding: 15px;
  }
  
  .title-3d {
    font-size: 13px;
    padding: 8px;
    top: 75%;
  }
}

@media (max-width: 375px) {
  .flip-card-inner {
    height: 280px;
  }
  
  .flip-card-back {
    padding: 12px;
  }
  
  .title-3d {
    font-size: 12px;
    padding: 6px;
    top: 70%;
  }
}