/*header*/
.header {
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.menu ul li.hasChild a {
    font-size: 14px;
}

.menu ul li.hasChild a sup {
    font-size: 120%;
    top: -6px;
    left: 3px;
    display: inline-block;
    transition: all 300ms ease-in-out;
}

.menu ul li.hasChild:hover>a sup {
    transform: rotate(45deg);
    color: #000;
}

.hasChild a:hover {
    color: #000 !important;
}

.projects-dropdown li a {
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-size: 14px;

}

.menu ul li.hasChild .dropdown {
    width: 250px;
    position: absolute;
    background-color: var(--corp-color);
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    visibility: visible;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    transition: all 300ms ease-in-out;
}

.menu ul li.hasChild:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.dropdown ul {
    padding: 0 15px;
}

.dropdown ul li:last-child a {
    border-bottom: none;
}

.menu ul li.hasChild .dropdown.dropdown-lg {
    width: 100%;
    max-width: 100%;
    left: 0;
    padding: 10px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul {
    display: flex;
    flex-wrap: wrap;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li {
    width: calc(100% / 4);
    padding: 5px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li a {
    text-transform: none;
    font-size: 13px;
    font-family: "BentonRegular", sans-serif;
    border-bottom: 0;
    padding: 0 0 0 10px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li a::before {
    width: 4px;
    height: 4px;
    bottom: 50%;
    transform: translateY(50%);
}

/* mobile menu style starts */
.menuBtn {
    width: 40px;
    height: 20px;
    overflow: hidden;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: all 300ms ease-in-out;
    position: relative;
    cursor: pointer;
}

.menuBtn span {
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--body-color);
    transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuBtn.closeMenuBtn {
    flex-direction: column;
}

.menuBtn.closeMenuBtn span {
    width: 100%;
    height: 2px;
    background-color: var(--corp-color);
    z-index: 5555;
}

.menuBtn.closeMenuBtn span#menuLine1 {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(6px, 5px);
}

.menuBtn.closeMenuBtn span#menuLine2 {
    right: 100px;
}

.menuBtn.closeMenuBtn span#menuLine3 {
    -webkit-transform: rotate(-45deg) translate(5px, -6px);
    transform: rotate(-45deg) translate(5px, -6px);
}

.mbMenuContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 2px;
    bottom: 0;
    background: rgb(0 0 0 / 82%);
    -webkit-backdrop-filter: blur(4px) brightness(1.3);
    backdrop-filter: blur(4px) brightness(1.3);
    z-index: 99;
    display: none;
}

.mbMenuContainer .mbMenu {
    position: relative;
    height: 100%;
    width: 400px;
    padding: 70px 30px;
    margin-right: 0;
    margin-left: auto;
    background-color: #fff;
    overflow: auto;
    opacity: 0;
    transition: all 0.5s linear;
}

.mbMenuContainer.active .mbMenu {
    opacity: 1;
}

.mbMenuContainer .mbMenu ul li a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--gray);
    transition: all 300ms ease-in-out;
}

.bigMenuList ul li.active>a,
.mbMenuContainer .mbMenu ul li:hover>a,
.mbMenuContainer .mbMenu ul li a:focus {
    color: var(--body-color);
}

.bigMenuList,
.smallMenuList {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.bigMenuList ul li a {
    font-size: 2rem;
    font-family: "Benton300", sans-serif;
    line-height: 1;
}

.bigMenuList ul li a sup {
    display: inline-block;
    transition: all 300ms ease-in-out;
}

.bigMenuList ul li.active>a sup {
    transform: rotate(225deg);
}

.bigMenuList .dropdown li a {
    font-size: 1.2rem;
    font-family: "Benton500", sans-serif;
    position: relative;
    padding-left: 30px;
}

.bigMenuList .dropdown {
    display: none;
}

.bigMenuList .dropdown li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    height: 2px;
    width: 20px;
    background-color: var(--corp-color);
    border-radius: 10px;
}

.activeHeader {
    display: block !important;
}

/* mobile menu style ends */