.header {
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  background: var(--bg-with-gradient);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: slideDown 0.4s ease forwards;
}

.notfixed {
  background-color: #fff !important;
}

.notfixed .mpf-logo img {
  display: none;
}

.menu ul li.hasChild a {
  font-size: 14px;
  transition: all 300ms ease-in-out;
}

.header-link-active {
  color: #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
  padding: 5px !important;
}

.menu ul li.hasChild a sup {
  font-size: 120%;
  top: -6px;
  left: 3px;
  display: inline-block;
  transition: all 300ms ease-in-out;
}

.menu ul li.hasChild .dropdown ul li a:hover {
  color: #000 !important;
}

.menu ul li.hasChild:hover>a sup {
  transform: rotate(45deg);
  color: #000;
}

.hasChild:hover>a,
.hasChild .dropdown.dropdown-lg:hover~a {
  color: #000 !important;
}

.projects-dropdown li a {
  display: block;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.menu ul li.hasChild .dropdown {
  width: 250px;
  position: absolute;
  background: var(--bg-with-gradient);
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  visibility: visible;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: all 300ms ease-in-out;
  top: 30px;
}

.menu ul li.hasChild:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.dropdown ul {
  padding: 0 15px;
}

.dropdown ul li:last-child a {
  border-bottom: none;
}

.menu ul li.hasChild .dropdown.dropdown-lg {
  width: 100%;
  max-width: 100%;
  left: 0;
  padding: 10px;
  max-height: 500px;
  overflow: auto;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul {
  display: flex;
  flex-wrap: wrap;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li {
  width: calc(100% / 4);
  padding: 5px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li a {
  text-transform: none;
  font-size: 13px;
  font-family: "BentonRegular", sans-serif;
  border-bottom: 0;
  padding: 0 0 0 10px;
}

.menu ul li.hasChild .dropdown.dropdown-lg ul li a::before {
  width: 4px;
  height: 4px;
  bottom: 50%;
  transform: translateY(50%);
}

/* mobile menu style starts */
.menuBtn {
  width: 40px;
  height: 20px;
  overflow: hidden;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: all 300ms ease-in-out;
  position: relative;
  cursor: pointer;
}

.menuBtn span {
  display: block;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--menu-color);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menuBtn.closeMenuBtn {
  flex-direction: column;
  top: 20px;
}

.menuBtn.closeMenuBtn span {
  width: 100%;
  height: 2px;
  background: var(--menu-color);
  z-index: 5555;
}

.menuBtn.closeMenuBtn span#menuLine1 {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
  transform: rotate(45deg) translate(6px, 5px);
}

.menuBtn.closeMenuBtn span#menuLine2 {
  right: 100px;
}

.menuBtn.closeMenuBtn span#menuLine3 {
  -webkit-transform: rotate(-45deg) translate(5px, -6px);
  transform: rotate(-45deg) translate(5px, -6px);
}

.mbMenuContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 0;
  background: rgb(0 0 0 / 82%);
  -webkit-backdrop-filter: blur(4px) brightness(1.3);
  backdrop-filter: blur(4px) brightness(1.3);
  z-index: 99;
  display: none;
}

.mbMenuContainer .mbMenu {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 400px;
  padding: 70px 30px;
  margin-right: 0;
  margin-left: auto;
  background: var(--bg-with-gradient);
  overflow: auto;
  opacity: 0;
  transition: all 0.5s linear;
}

@media (max-width: 426px) {
  .mbMenuContainer .mbMenu {
    max-width: 100%;
    padding: 50px 20px;
  }
}

.mbMenuContainer.active .mbMenu {
  opacity: 1;
}

.mbMenuContainer .mbMenu ul li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--menu-color);
  transition: all 300ms ease-in-out;
}

.bigMenuList ul li.active>a,
.mbMenuContainer .mbMenu ul li:hover>a,
.mbMenuContainer .mbMenu ul li a:focus {
  color: var(--body-color);
}

.bigMenuList,
.smallMenuList {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.bigMenuList ul li a {
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-family: "Benton300", sans-serif;
  line-height: 1.2;
  word-wrap: break-word;
}

.bigMenuList ul li a sup {
  display: inline-block;
  transition: all 300ms ease-in-out;
}

.bigMenuList ul li.active>a sup {
  transform: rotate(225deg);
}

.bigMenuList .dropdown li a {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-family: "Benton500", sans-serif;
  position: relative;
  padding-left: 30px;
  word-wrap: break-word;
}

@media (max-width: 426px) {
  .bigMenuList ul li a {
    font-size: 1.5rem;
  }
  
  .bigMenuList .dropdown li a {
    font-size: 1rem;
    padding-left: 20px;
  }
  
  .smallMenuList ul li a {
    font-size: 1rem;
  }
}

.bigMenuList .dropdown {
  display: none;
}

.bigMenuList .dropdown li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  height: 2px;
  width: 20px;
  background-color: var(--corp-color);
  border-radius: 10px;
}

.activeHeader {
  display: block !important;
}

/* mobile menu style ends */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heaing-font);
}

p {
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
} */

.hover-effect:hover {
  background-color: #f8f9fa; /* light gray */
  color: #0d6efd; /* Bootstrap primary color */
  transform: scale(1.02); /* small zoom effect */
  transition: all 0.3s ease;
}