:root {
    --corp-color: #68ac78;
    --secondary-color: #7eae68;
    --body-color: #3b3b3b;
    --lightgray: #f6f6f6;
    --gray: #2f2f2f;
    --vibrant-green: #1dcde2;
    --lightgreen: #edefe8;
    --font-light: "Benton300", sans-serif;
    --font-semibold: "Benton500", sans-serif;
    --font-bold: "BentonBold", sans-serif;
    --font-black: "Benton900", sans-serif;
    --corp-gradient: linear-gradient(45deg,
            var(--corp-color),
            var(--secondary-color),
            var(--corp-color)) right;
    --freight-regular: "FreightBigBook", serif;
    --facebook: #4267B2;
    --twitter: #00acee;
    --linkedin: #0e76a8;
    --youtube: #FF0000;
    --whatsapp: #25D366;
    --instagram: #c92bb7;
    --theme-color: #68ac78;
}

/*Defining body css globally*/
body {
    color: var(--body-color);
    font-family: "BentonRegular", sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

.mpf-bg{
    background-color: var(--corp-color);
}

a {
    text-decoration: none;
}
ul{
    list-style: none;
}
/* .list-inline-item a {
    height: 30px !important;
    width: 30px;
    color: white;
    font-size: 20px !important;
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
} */

/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cursor-pointer {
    cursor: pointer !important;
}

.btn-primary {
    background-color: #68ac78 !important;
    border: none !important;
}

.projects-heading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .projects-heading{
        display: none;
    }
}