:root {
    --corp-color: #68ac78;
    --secondary-color: #7eae68;
    --body-color: #3b3b3b;
    --lightgray: #f6f6f6;
    --gray: #2f2f2f;
    --vibrant-green: #1dcde2;
    --lightgreen: #edefe8;
    --font-light: "Benton300", sans-serif;
    --font-semibold: "Benton500", sans-serif;
    --font-bold: "BentonBold", sans-serif;
    --font-black: "Benton900", sans-serif;
    --corp-gradient: linear-gradient(45deg,
            var(--corp-color),
            var(--secondary-color),
            var(--corp-color)) right;
    --freight-regular: "FreightBigBook", serif;
    --facebook: #4267B2;
    --twitter: #00acee;
    --linkedin: #0e76a8;
    --youtube: #FF0000;
    --whatsapp: #25D366;
    --instagram: #c92bb7;
    --theme-color: #68ac78;
}

/* styles/fonts.css */
@font-face {
    font-family: 'mpf-heading';
    src: url('/fonts/Heading-Pro-Heavy-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*Defining body css globally*/
body {
    color: var(--body-color);
    font-family: "BentonRegular", sans-serif;
    overflow-x: hidden;
    font-size: 16px;
}

.mpf-bg {
    background-color: var(--corp-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-color);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cursor-pointer {
    cursor: pointer !important;
}

.theme-bg {
    background-color: var(--corp-color);
}

.btn-primary {
    background-color: #68ac78 !important;
    border: none !important;
}

.projects-heading {
    position: absolute;
    font-family: mpf-heading;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #226401;
    font-size: 5rem;
    z-index: 1;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .projects-heading {
        font-size: 2rem;
    }
}