.top-banner-each-pages {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.status-badge-container{
  z-index: 3;
}

.blog-card {
  min-height: 475px;
}

/* .top-banner-each-pages::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
} */

.project-image-container {
  overflow: hidden;
  position: relative;
}

.project-image-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(102, 102, 102, 0) 100%);
  z-index: 2;
}

.project-image-container img {
  transition: transform 0.5s ease;
}

.project-container:hover .project-image-container img {
  transform: scale(1.05);
}

/* westory css starts*/
.webstory-container {
  max-width: 500px;
  height: 600px;
  object-fit: cover;
  border: 1px solid #fff;
  overflow: hidden;
}

/* westory css ends*/

/* Common banner heading text style starts */
.projects-heading {
  position: absolute;
  /* font-family: var(--headeing-bolded); */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #226401;
  font-size: 5rem;
  z-index: 1;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Common banner heading text style ends */

/* All media queries for header banner starts*/
@media (max-width: 768px) {
  .top-banner-each-pages {
    height: 200px;
  }

  .projects-heading {
    font-size: 1.5rem;
  }

  .blog-card {
    min-height: 500px;
  }
}

@media (max-width: 426px) {
  .top-banner-each-pages {
    height: 100px;
  }

  .blog-card {
    min-height: 450px;
  }
}

/* All media queries for header banner ends*/

.blog-date {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  font-style: italic !important;
}
